img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 8px;
}

button, input {
    padding: 8px;
    border-radius: 8px;
    border: 0px;
    margin: 10px
}

button {
    cursor: pointer;
    background-color: white;
}

select {
    width: 100px;
    border-radius: 8px;
}

.searchInput, .favoritesPage {
    background-color: lightblue;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top: 4px solid grey;
    border-bottom: 4px solid grey;
    margin-bottom: 10px
}

.imageItems {
    columns: 5;
}

.imageItem {
    background-color: rgb(222, 222, 222);
    border-radius: 8px;
    width: 200px;
    margin:auto;
    margin-bottom: 10px;
}

.favorite {
    background-color: lightcoral;
    color: lightblue;
}

.hover {
    width: 150px;
    height: 150px
}


