img {
    width: 100px;
    height: 100px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer
}

button, input {
    padding: 8px;
    border-radius: 8px;
    border: 0px;
    margin: 10px
}

button {
    cursor: pointer;
}

.searchInput {
    background-color: lightblue;
    padding-top: 8px;
    padding-bottom: 8px;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    border-top: 4px solid grey;
    border-bottom: 4px solid grey
}

.imageItem {
    columns: 5;
}

.favorite {
    background-color: lightcoral;
    color: lightblue;
}

.hover {
    width: 150px;
    height: 150px
}
